<div class="container">
    <h4>Récapitulatif de la transaction</h4>

    <span>Email de l'acheteur : {{vente.emailAcheteur}}</span><br>
    <span>Numéro téléphone acheteur : {{vente.numeroTelAcheteur}}</span><br>
    <span>Adresse de livraison : {{vente.adresseLivraison}}</span><br>
    <span>Montant de la vente : {{vente.montantVente}}</span><br>
    <span>Montant de la livraison : {{vente.montantLivraison}}</span><br>
    <span>Montant total : {{vente.montantTotal}}</span><br>
    <span>Email du vendeur : {{vente.emailVendeur}}</span><br>
    <span>Téléphone du vendeur : {{vente.numeroTelVendeur}}</span><br>
    <span>Adresse du vendeur : {{vente.adresseVendeur}}</span><br>
    <span>Date dépot colis : {{vente.dateDepotColis}}</span><br><br>

    {{#if whoami_complete}}
        {{#if statut_complete}}
            <h4>STATUT</h4>
           <p>En tant qu'acheteur, vous avez déjà validé, vous attendez le vendeur</p>
        {{else}}
             <form id="validation" method="POST">
                <input style="display:none;" value="validationTransaction" id="validationTransaction" name="validationTransaction">
                <button type="submit" class="center btn btn-primary">Accepter la transaction</button>
            </form>

            <p>En cliquant sur ce bouton, vous attestez avoir lu et accepté les conditions générales de vente</p>
        {{/if}}
        {{#if other_statut}}
            <h4>STATUT</h4>
            <p>Le vendeur a validé</p>
        {{/if}}
    {{else}}
        {{#if statut_complete}}
            <h4>STATUT</h4>
           <p>En tant que vendeur, vous avez déjà validé, vous attendez l'acheteur</p>
        {{else}}
             <form id="validation" method="POST">
                <input style="display:none;" value="validationTransaction" id="validationTransaction" name="validationTransaction">
                <button type="submit" class="center btn btn-primary">Accepter la transaction</button>
            </form>

            <p>En cliquant sur ce bouton, vous attestez avoir lu et accepté les conditions générales de vente</p>
        {{/if}}
         {{#if other_statut}}
            <h4>STATUT</h4>
            <p>L'acheteur a validé</p>
        {{/if}}
    {{/if}}
</div>